  {% if page.lang == "zh" %}
<ul>
  <li>气候变化及其影响</li>
  <li>洪涝灾害与风险管理</li>
  <li>节水与水资源保障</li>
  <li>水环境变化与生态修复</li>
  <li>地下水保护与可持续开发</li>
  <li>河流保护与绿色发展</li>
  <li>水工程安全与韧性</li>
</ul>

  {% else %}
  
<ul>
  <li>Climate change and adaptation</li>
  <li>Flooding and flood risk management</li>
  <li>Water saving and water security</li>
  <li>Aquatic eco-systems and rehabilitation</li>
  <li>Groundwater protection and sustainable development</li>
  <li>River conservation and green development</li>
  <li>Safety and resilience of water infrastructures</li>
</ul>

  {% endif %}
