<ul class="people-list p-0">
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-mahongqi.jpg" class="people-avatar rounded-circle mr-3" alt="Hongqi Ma">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>马洪琪</b> 院士 主席{% else %}<b>Hongqi Ma</b>, Prof., Chair{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国工程院院士{% else %}Academician of the Chinese Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-xuhui.jpg" class="people-avatar rounded-circle mr-3" alt="Hui Xu">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>徐辉</b> 博士、教授 副主席{% else %}<b>Hui Xu</b>, Dr., Prof., Vice Chair{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}河海大学校长{% else %}President of Hohai University{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-chenshenshui.jpg" class="people-avatar rounded-circle mr-3" alt="Shengshui Chen">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>陈生水</b> 博士、教授 副主席{% else %}<b>Shengshui Chen</b>, Dr., Prof., Vice Chair{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}南京水利科学研究院院长{% else %}President of Nanjing Hydraulic Research Institute{% endif %}</p>
    </div>
  </li>
  {% if include.full_list == "yes" %}
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Ian Cluckier">
    <div class="media-body">
      <h5 class="mt-0"><a href="https://www.researchgate.net/profile/Ian_Cluckie"><b>Ian Cluckie</b>{% if page.lang == "zh" %} 博士、院士{% else %}, Dr., Prof.{% endif %}</a></h5>
      <p class="text-secondary">{% if page.lang == "zh" %}英国皇家工程院院士{% else %}Fellow of the UK Royal Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Roger Falconer">
    <div class="media-body">
      <h5 class="mt-0"><a href="https://www.cardiff.ac.uk/people/view/364367-falconer-roger"><b>Roger Falconer</b>{% if page.lang == "zh" %} 博士、院士{% else %}, Dr., Prof.{% endif %}</a></h5>
      <p class="text-secondary">{% if page.lang == "zh" %}英国皇家工程院院士{% else %}Fellow of the UK Royal Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Peter Goodwin">
    <div class="media-body">
      <h5 class="mt-0"><a href="https://www.umces.edu/office-of-the-president"><b>Peter Goodwin</b>{% if page.lang == "zh" %} 博士、教授{% else %}, Dr., Prof.{% endif %}</a></h5>
      <p class="text-secondary">{% if page.lang == "zh" %}马里兰大学环境科学中心主任{% else %}President of the University of Maryland Center for Environmental Science{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Jim Hall">
    <div class="media-body">
      <h5 class="mt-0"><a href="https://www.eci.ox.ac.uk/people/jhall.html"><b>Jim Hall</b>{% if page.lang == "zh" %} 院士{% else %}, Prof.{% endif %}</a></h5>
      <p class="text-secondary">{% if page.lang == "zh" %}英国皇家工程院院士{% else %}Fellow of the UK Royal Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Shuanggen Jin">
    <div class="media-body">
      <h5 class="mt-0"><a href="http://center.shao.ac.cn/geodesy/shuanggenjin.html">{% if page.lang == "zh" %}<b>金双根</b> 博士、教授{% else %}<b>Shuanggen Jin</b>, Dr., Prof.{% endif %}</a></h5>
      <p class="text-secondary">{% if page.lang == "zh" %}欧洲科学院院士，IUGG会士{% else %}AE/EurASc/RANS Academician, IUGG Fellow{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Shuanggen Jin">
    <div class="media-body">
      <h5 class="mt-0"><a href="http://www.ce.usthk.cn/Web/FacultyStaffDetail.aspx?FacultyStaffId=78&Type=Faculty">{% if page.lang == "zh" %}<b>李行偉</b> 博士、院士{% else %}<b>Joseph H.W. Lee</b>, Dr., Prof.{% endif %}</a></h5>
      <p class="text-secondary">{% if page.lang == "zh" %}IAHR主席{% else %}IAHR President{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Bruce Melville">
    <div class="media-body">
      <h5 class="mt-0"><a href="https://unidirectory.auckland.ac.nz/profile/b-melville"><b>Bruce Melville</b>{% if page.lang == "zh" %} 博士、院士{% else %}, Dr., Prof.{% endif %}</a></h5>
      <p class="text-secondary">{% if page.lang == "zh" %}新西兰皇家科学院院士{% else %}Fellow of the Royal Society of New Zealand{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Enda O'Connell">
    <div class="media-body">
      <h5 class="mt-0"><a href="https://www.ncl.ac.uk/engineering/staff/profile/endaoconnell.html"><b>Enda O'Connell</b>{% if page.lang == "zh" %} 博士、院士{% else %}, Dr., Prof.{% endif %}</a></h5>
      <p class="text-secondary">{% if page.lang == "zh" %}英国皇家工程院院士{% else %}Fellow of the UK Royal Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Enda O'Connell">
    <div class="media-body">
      <h5 class="mt-0"><a href="https://www.flinders.edu.au/people/craig.simmons"><b>Craig Simmons</b>{% if page.lang == "zh" %} 博士、教授{% else %}, Dr., Prof.{% endif %}</a></h5>
      <p class="text-secondary">{% if page.lang == "zh" %}澳大利亚国家地下水研究培训中心主任{% else %}Director of the Australian National Centre for Groundwater Research and Training{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-zhangjianyun.jpg" class="people-avatar rounded-circle mr-3" alt="Jianyun Zhang">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>张建云</b> 博士、院士{% else %}<b>Jianyun Zhang</b>, Dr., Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国工程院院士{% else %}Academician of the Chinese Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Chunmiao Zheng">
    <div class="media-body">
      <h5 class="mt-0"><a href="http://faculty.sustech.edu.cn/zhengcm/en/">{% if page.lang == "zh" %}<b>郑春苗</b> 博士、 教授{% else %}<b>Chunmiao Zheng</b>, Dr., Prof.{% endif %}</a></h5>
      <p class="text-secondary">{% if page.lang == "zh" %}南方科技大学环境科学与工程讲席教授{% else %}Chair Professor of Environmental Science and Engineering at Southern University of Science and Technology{% endif %}</p>
    </div>
  </li>
  {% endif %}
  <li class="media my-2">
    <div class="media-body">
      <h5 class="lead small text-secondary">{% if page.lang == "zh" %}{% if include.full_list == "yes" %}<i class="fas fa-expand-alt fa-fw mr-1 text-info"></i>此列表可能还将继续更新。{% else %}<i class="fas fa-compress-alt fa-fw mr-1 text-warning"></i>此列表已折叠，完整列表请见<a href="/zh/about/ac">此处</a>。{% endif %}{% else %}{% if include.full_list == "yes" %}<i class="fas fa-expand-alt fa-fw mr-1 text-info"></i>This list may be updated further.{% else %}<i class="fas fa-compress-alt fa-fw mr-1 text-warning"></i>This list has been folded. Please see a full list <a href="/about/ac">here</a>.{% endif %}{% endif %}</h5>
    </div>
  </li>
</ul>
