<ul class="people-list p-0">
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Yihui Ding">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>丁一汇</b> 院士{% else %}<b>Yihui Ding</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国工程院院士{% else %}Academician of the Chinese Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Kejian Ma">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>马克俭</b> 院士{% else %}<b>Kejian Ma</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国工程院院士{% else %}Academician of the Chinese Academy of Engineering{% endif %}</p>
    </div>
  </li>
  {% if include.full_list == "yes" %}
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Jiayao Wang">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>王家耀</b> 院士{% else %}<b>Jiayao Wang</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国工程院院士{% else %}Academician of the Chinese Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Jingquan Wang">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>王景全</b> 院士{% else %}<b>Jingquan Wang</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国工程院院士{% else %}Academician of the Chinese Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Ying Wang">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>王颖</b> 院士{% else %}<b>Ying Wang</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国科学院院士{% else %}Academician of the Chinese Academy of Science{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Yaoru Lu">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>卢耀如</b> 院士{% else %}<b>Yaoru Lu</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国工程院院士{% else %}Academician of the Chinese Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Keming Ye">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>叶可明</b> 院士{% else %}<b>Keming Ye</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国工程院院士{% else %}Academician of the Chinese Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Xianlin Liu">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>刘先林</b> 院士{% else %}<b>Xianlin Liu</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国工程院院士{% else %}Academician of the Chinese Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Changming Liu">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>刘昌明</b> 院士{% else %}<b>Changming Liu</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国科学院院士{% else %}Academician of the Chinese Academy of Science{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Huancheng Jiang">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>江欢成</b> 院士{% else %}<b>Huancheng Jiang</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国工程院院士{% else %}Academician of the Chinese Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Qifeng Xu">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>许其凤</b> 院士{% else %}<b>Qifeng Xu</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国工程院院士{% else %}Academician of the Chinese Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Honglie Sun">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>孙鸿烈</b> 院士{% else %}<b>Honglie Sun</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国科学院院士{% else %}Academician of the Chinese Academy of Science{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Guibai Li">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>李圭白</b> 院士{% else %}<b>Guibai Li</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国工程院院士{% else %}Academician of the Chinese Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Youjia Li">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>李猷嘉</b> 院士{% else %}<b>Youjia Li</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国工程院院士{% else %}Academician of the Chinese Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Zhongru Wu">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>吴中如</b> 院士{% else %}<b>Zhongru Wu</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国工程院院士{% else %}Academician of the Chinese Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Dahong Qiu">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>邱大洪</b> 院士{% else %}<b>Dahong Qiu</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国科学院院士{% else %}Academician of the Chinese Academy of Science{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Jiyang Wang">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>汪集旸</b> 院士{% else %}<b>Jiyang Wang</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国科学院院士{% else %}Academician of the Chinese Academy of Science{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Qinglin Sha">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>沙庆林</b> 院士{% else %}<b>Qinglin Sha</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国工程院院士{% else %}Academician of the Chinese Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Shizhao Shen">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>沈世钊</b> 院士{% else %}<b>Shizhao Shen</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国工程院院士{% else %}Academician of the Chinese Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Guofang Shen">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>沈国舫</b> 院士{% else %}<b>Guofang Shen</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国工程院院士{% else %}Academician of the Chinese Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Jie Zhang">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>张杰</b> 院士{% else %}<b>Jie Zhang</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国科学院院士{% else %}Academician of the Chinese Academy of Science{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Zuxun Zhang">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>张祖勋</b> 院士{% else %}<b>Zuxun Zhang</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国工程院院士{% else %}Academician of the Chinese Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Yongchuan Zhang">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>张勇传</b> 院士{% else %}<b>Yongchuan Zhang</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国工程院院士{% else %}Academician of the Chinese Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Chuhan Zhang">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>张楚汉</b> 院士{% else %}<b>Chuhan Zhang</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国科学院院士{% else %}Academician of the Chinese Academy of Science{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Youmei Lu">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>陆佑楣</b> 院士{% else %}<b>Youmei Lu</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国工程院院士{% else %}Academician of the Chinese Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Houqun Chen">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>陈厚群</b> 院士{% else %}<b>Houqun Chen</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国工程院院士{% else %}Academician of the Chinese Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Zhaoyuan Chen">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>陈肇元</b> 院士{% else %}<b>Zhaoyuan Chen</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国工程院院士{% else %}Academician of the Chinese Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Zhi Mao">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>茆智</b> 院士{% else %}<b>Zhi Mao</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国工程院院士{% else %}Academician of the Chinese Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Yuanpei Lin">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>林元培</b> 院士{% else %}<b>Yuanpei Lin</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国工程院院士{% else %}Academician of the Chinese Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Xueyu Lin">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>林学钰</b> 院士{% else %}<b>Xueyu Lin</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国科学院院士{% else %}Academician of the Chinese Academy of Science{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Shaoji Luo">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>罗绍基</b> 院士{% else %}<b>Shaoji Luo</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国工程院院士{% else %}Academician of the Chinese Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Fengjun Zhou">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>周丰峻</b> 院士{% else %}<b>Fengjun Zhou</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国工程院院士{% else %}Academician of the Chinese Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Fulin Zhou">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>周福霖</b> 院士{% else %}<b>Fulin Zhou</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国工程院院士{% else %}Academician of the Chinese Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Yingren Zheng">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>郑颖人</b> 院士{% else %}<b>Yingren Zheng</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国工程院院士{% else %}Academician of the Chinese Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Haifan Xiang">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>项海帆</b> 院士{% else %}<b>Haifan Xiang</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国工程院院士{% else %}Academician of the Chinese Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Zhongheng Shi">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>施仲衡</b> 院士{% else %}<b>Zhongheng Shi</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国工程院院士{% else %}Academician of the Chinese Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Qihu Qian">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>钱七虎</b> 院士{% else %}<b>Qihu Qian</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国工程院院士{% else %}Academician of the Chinese Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Junzhi Cui">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>崔俊芝</b> 院士{% else %}<b>Junzhi Cui</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国工程院院士{% else %}Academician of the Chinese Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Congbin Fu">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>符淙斌</b> 院士{% else %}<b>Congbin Fu</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国科学院院士{% else %}Academician of the Chinese Academy of Science{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Xiurun Ge">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>葛修润</b> 院士{% else %}<b>Xiurun Ge</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国工程院院士{% else %}Academician of the Chinese Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Shilin Dong">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>董石麟</b> 院士{% else %}<b>Shilin Dong</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国工程院院士{% else %}Academician of the Chinese Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Lili Xie">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>谢礼立</b> 院士{% else %}<b>Lili Xie</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国工程院院士{% else %}Academician of the Chinese Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Zhenpeng Liao">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>廖振鹏</b> 院士{% else %}<b>Zhenpeng Liao</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国工程院院士{% else %}Academician of the Chinese Academy of Engineering{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Yuqun Xue">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>薛禹群</b> 院士{% else %}<b>Yuqun Xue</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}中国科学院院士{% else %}Academician of the Chinese Academy of Science{% endif %}</p>
    </div>
  </li>
  {% endif %}
  <li class="media my-2">
    <div class="media-body">
      <h5 class="lead small text-secondary">{% if page.lang == "zh" %}{% if include.full_list == "yes" %}<i class="fas fa-expand-alt fa-fw mr-1 text-info"></i>此列表可能还将继续更新。{% else %}<i class="fas fa-compress-alt fa-fw mr-1 text-warning"></i>此列表已折叠，完整列表请见<a href="/zh/about/adc">此处</a>。{% endif %}{% else %}{% if include.full_list == "yes" %}<i class="fas fa-expand-alt fa-fw mr-1 text-info"></i>This list may be updated further.{% else %}<i class="fas fa-compress-alt fa-fw mr-1 text-warning"></i>This list has been folded. Please see a full list <a href="/about/adc">here</a>.{% endif %}{% endif %}</h5>
    </div>
  </li>
</ul>
