<p>{% if page.lang == "zh" %}如您需要联系我们，请发送电子邮件至<strong class="text-info">estds@nhri.cn</strong>。<a href="/zh/about/sec">秘书处</a>的以下成员将在第一时间与您联系。{% else %}Pease email <strong class="text-info">estds@nhri.cn</strong> for enquries. The following members of <a href="/about/sec">the Secretariat</a> will get back to you at the earliest convenience.{% endif %}</p>
<ul class="people-list p-0">
		<li class="media my-2">
				<img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-chlu.jpg" class="people-avatar rounded-circle mr-3" alt="Chunhui Lu">
				<div class="media-body">
						<h5 class="mt-0"><b>{% if page.lang == "zh" %}鲁春辉{% else %}Chunhui Lu{% endif %}</b></h5>
						<ul class="contacts list-unstyled">
								<li><i class="text-secondary fas fa-university fa-fw mr-1"></i>{% if page.lang == "zh" %}长江保护与绿色发展研究院、河海大学{% else %}Yangtze Institute for Conservation and Development & Hohai University{% endif %}</li>
								<li><i class="text-secondary fas fa-map-pin fa-fw mr-1"></i>{% if page.lang == "zh" %}中国江苏省南京市西康路1号 210098{% else %}1 Xikang Road, Nanjing 210098, P. R. China{% endif %}</li>
						</ul>
				</div>
		</li>
		<li class="media my-2">
				<img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-ttzhou.jpg" class="people-avatar rounded-circle mr-3" alt="David Zhou">
				<div class="media-body">
						<h5 class="mt-0"><b>{% if page.lang == "zh" %}周天涛{% else %}David Zhou{% endif %}</b></h5>
						<ul class="contacts list-unstyled">
								<li><i class="text-secondary fas fa-university fa-fw mr-1"></i>{% if page.lang == "zh" %}长江保护与绿色发展研究院、南京水利科学研究院{% else %}Yangtze Institute for Conservation and Development & Nanjing Hydraulic Research Institute{% endif %}</li>
								<li><i class="text-secondary fas fa-map-pin fa-fw mr-1"></i>{% if page.lang == "zh" %}中国江苏省南京市广州路223号 210029{% else %}223 Guangzhou Road, Nanjing 210029, P. R. China{% endif %}</li>
						</ul>
				</div>
		</li>
</ul>
