      <div class="row">
            {% if page.lang == "zh" %}
            <div class="col-md-3">
                  <div class="d-inline-block mb-3">
                        <a href="/zh/" class="d-flex align-items-center text-secondary text-decoration-none">
                              <span class="bg-dark rounded estds-logo d-inline-block"></span>
                              <small class="mx-1">水安全与<br>可持续发展</small>
                        </a>
                  </div>
            </div>
            
            <div class="col-md-9 text-md-right d-print-none">
                  <ul class="list-inline text-muted small">
                        <li class="list-inline-item"><a href="/zh/greener" class="text-success">绿色</a></li>
                        <li class="list-inline-item"><a href="/zh/faq" class="text-muted">FAQ</a></li>
                        <li class="list-inline-item"><a href="/zh/credits" class="text-muted">致谢</a></li>
                        <li class="list-inline-item"><a href="/zh/privacy" class="text-muted">隐私</a></li>
                        <li class="list-inline-item"><a href="/zh/pwa" class="text-muted">PWA</a></li>
                  </ul>
            </div>
            
            <div class="col-12 text-muted small">
                  <p class="mb-0"><i class="fab fa-creative-commons fa-lg"></i><i class="fab fa-creative-commons-by fa-lg"></i><i class="fab fa-creative-commons-nc fa-lg"></i><i class="fab fa-creative-commons-sa fa-lg"></i></p>
                  <p class="small">除额外注明外，本网站内容使用需遵守以下授权：<br/><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" class="text-muted">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International</a>
                  </p>
            </div>
            
            {% else %}
          
            <div class="col-md-3">
                  <div class="d-inline-block mb-3">
                        <a href="/" class="d-flex align-items-center text-secondary text-decoration-none">
                              <span class="bg-dark rounded estds-logo d-inline-block"></span>
                              <small class="mx-1">Water Security & <br>Sustainability</small>
                        </a>
                  </div>
            </div>
            
            <div class="col-md-9 text-md-right d-print-none">
                  <ul class="list-inline text-muted small">
                        <li class="list-inline-item"><a href="/greener" class="text-success">Greener</a></li>
                        <li class="list-inline-item"><a href="/faq" class="text-muted">FAQ</a></li>
                        <li class="list-inline-item"><a href="/credits" class="text-muted">Credits</a></li>
                        <li class="list-inline-item"><a href="/privacy" class="text-muted">Privacy</a></li>
                        <li class="list-inline-item"><a href="/pwa" class="text-muted">PWA</a></li>
                  </ul>
            </div>
            
            <div class="col-12 text-muted small">
                  <p class="mb-0"><i class="fab fa-creative-commons fa-lg"></i><i class="fab fa-creative-commons-by fa-lg"></i><i class="fab fa-creative-commons-nc fa-lg"></i><i class="fab fa-creative-commons-sa fa-lg"></i></p>
                  <p class="small">Unless otherwisely noted, content on this website is licensed under:<br /><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" class="text-muted">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International</a>
                  </p>
            </div>
          
            {% endif %}
            <a id="to-top" href="#top" class="sjump btn btn-secondary shadow d-print-none"><i class="fas fa-chevron-up"></i><span class="sr-only">Back to top</span></a>
      </div>
