  <div id="home-carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#home-carousel" data-slide-to="1"></li>
      <li data-target="#home-carousel" data-slide-to="2"></li>
      <li data-target="#home-carousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">    
      <div class="carousel-item ani-loading bg-by-attr active" data-image="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/boats-on-a-river.jpg">
        {% if page.lang == "zh" %}
        <div class="carousel-caption animated slideInUp">
          <p class="lead mb-0">{{ site.cfrc_start | date: '%Y年%m月%d' }}至{{ site.cfrc_end | date: '%d日' }}</p>
          <h5 class="display-4">水安全与可持续发展</h5>
          <p>中国工程院国际工程科技发展战略高端论坛系列</p>
          <p><a href="/zh/about" class="btn btn-outline-light">了解更多</a></p>
        </div>
        <div class="credit-label text-truncate">摄影：Emile Guillemot</div>
        {% else %}
        <div class="carousel-caption animated slideInUp">
          <p class="lead mb-0">{{ site.cfrc_start | date: '%d' }} to {{ site.cfrc_end | date_to_string }}</p>
          <h5 class="display-5">Water security &amp; sustainability</h5>
          <p>One of the ESTDS Forums sponsored by the Chinese Academy of Engineering</p>
          <p><a href="/about" class="btn btn-outline-light">Know more</a></p>
        </div>
        <div class="credit-label text-truncate">Photo credit: Emile Guillemot</div>
        {% endif %}
      </div>
      <div class="carousel-item ani-loading bg-by-attr" data-image="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/nanjing-xuanwu-lake.jpg">
        {% if page.lang == "zh" %}
        <div class="carousel-caption animated slideInUp">
          <h5 class="display-4">摘要征集</h5>
          <p>我们欢迎世界各地的研究人员提交摘要并与会发言</p>
          <p><a href="/zh/take-part" class="btn btn-outline-light">现在就去</a></p>
        </div>
        <div class="credit-label text-truncate">摄影：张德超</div>
        {% else %}
        <div class="carousel-caption animated slideInUp">
          <h5 class="display-4">Call for abstracts</h5>
          <p>We are inviting researchers around the world to submit abstracts for presentation</p>
          <p><a href="/take-part" class="btn btn-outline-light">Submit now</a></p>
        </div>
        <div class="credit-label text-truncate">Photo credit: Dechao Zhang</div>
        {% endif %}
      </div>
      <div class="carousel-item ani-loading bg-by-attr" data-image="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/nanjing-south-railway-station.jpg">
        {% if page.lang == "zh" %}
        <div class="carousel-caption animated slideInUp">
          <h5 class="display-4">欢迎回来！</h5>
          <p>我们在古老的石头城下等你</p>
          <p><a href="/zh/logistics" class="btn btn-outline-light">查阅会务</a></p>
        </div>
        <div class="credit-label text-truncate">摄影：Zhimai Zhang</div>
        {% else %}
        <div class="carousel-caption animated slideInUp">
          <h5 class="display-4">Welcome back!</h5>
          <p>We had an appointment in Nanjing, didn't we?</p>
          <p><a href="/logistics" class="btn btn-outline-light">Check logistics</a></p>
        </div>
        <div class="credit-label text-truncate">Photo credit: Zhimai Zhang</div>
        {% endif %}
      </div>
      <div class="carousel-item ani-loading bg-by-attr" data-image="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/green-hills-in-mist.jpg">
        {% if page.lang == "zh" %}
        <div class="carousel-caption animated slideInUp">
          <p class="mb-0">我们的目标是</p>
          <h5 class="display-4">更加绿色的活动</h5>
          <p><a href="/zh/greener" class="btn btn-outline-light">去搭把手</a></p>
        </div>
        <div class="credit-label text-truncate">摄影：Wang Douglas</div>
        {% else %}
        <div class="carousel-caption animated slideInUp">
          <p class="mb-0">We are aiming at</p>
          <h5 class="display-4">A greener event</h5>
          <p><a href="/greener" class="btn btn-outline-light">Lend a hand</a></p>
        </div>
        <div class="credit-label text-truncate">Photo credit: Wang Douglas</div>
        {% endif %}
      </div>
    </div>
    <a class="carousel-control-prev" href="#home-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#home-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
