    <link rel="dns-prefetch" href="//user-images.githubusercontent.com/" >
    <link rel="dns-prefetch" href="//cdn.jsdelivr.net/" >

    <meta name="author" content="ESTDS2020">
    <meta property="og:type" content="website">

    {% if page.lang == "zh" %}

    <meta name="description" content="ESTDS2020 水安全与可持续发展论坛：中国工程院国际工程科技发展战略高端论坛系列">
    <meta name="keywords" content="水,可持续,水安全,可持续发展,南京,2020,ESTDS2020">
    <meta property="og:title" content="{{ page.title }} | {{ site.name}} | {{ site.cfrc_place_zh}} | {{ site.cfrc_start | date: '%Y年%m月%d日' }} ~ {{ site.cfrc_end | date: '%Y年%m月%d日' }}">
    <meta property="og:description" content="ESTDS2020 水安全与可持续发展论坛：中国工程院国际工程科技发展战略高端论坛系列">

    <title>{{ page.title }} | {{ site.name}} | {{ site.cfrc_place_zh}} | {{ site.cfrc_start | date: '%Y年%m月%d日' }} ~ {{ site.cfrc_end | date: '%Y年%m月%d日' }}</title>

    {% else %}

    <meta name="description" content="ESTDS2020 Water security & sustainability forum: One of the ESTDS Forums sponsored by the Chinese Academy of Engineering">
    <meta name="keywords" content="Water,Sustainability,Water Security,Sustainable development,Nanjing,2020,ESTDS2020">
    <meta property="og:title" content="{{ page.title }} | {{ site.name}} | {{ site.cfrc_place}} | {{ site.cfrc_start | date_to_string }} ~ {{ site.cfrc_end | date_to_string }}">
    <meta property="og:description" content="ESTDS2020 Water security & sustainability forum: One of the ESTDS Forums sponsored by the Chinese Academy of Engineering">

    <title>{{ page.title }} | {{ site.name}} | {{ site.cfrc_place}} | {{ site.cfrc_start | date_to_string }} ~ {{ site.cfrc_end | date_to_string }}</title>

    {% endif %}

    <meta property="og:image" content="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/og-image.jpg">
    <meta name="twitter:card" content="summary_large_image">
