<ul class="people-list p-0">
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-zhengjinhai.jpg" class="people-avatar rounded-circle mr-3" alt="Jinhai Zheng">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>郑金海</b> 博士、教授 秘书长{% else %}<b>Jinhai Zheng</b>, Dr., Prof., Secretary General{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}河海大学副校长{% else %}Vice President of Hohai University{% endif %}</p>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-liyun.jpg" class="people-avatar rounded-circle mr-3" alt="Yun Li">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>李云</b> 教授 秘书长{% else %}<b>Yun Li</b>, Prof., Secretary General{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}南京水利科学研究院副院长{% else %}Vice President of Nanjing Hydraulic Research Institute{% endif %}</p>
    </div>
  </li>
  {% if include.full_list == "yes" %}
  <li class="media my-2">
    <div class="media-body">
      <h5 class="lead small text-secondary"><i class="fas fa-angle-down fa-fw mr-1"></i>{% if page.lang == "zh" %}以下秘书处成员负责专门牵头摘要评审。{% else %}The following members are organising abstract reviewing.{% endif %}</h5>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Qiuwen Chen">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>陈求稳</b> 博士、教授{% else %}<b>Qiuwen Chen</b>, Dr., Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}南京水利科学研究院{% else %}Nanjing Hydraulic Research Institute{% endif %}</p>
    </div>
  </li> 
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Qingyun Duan">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>段青云</b> 博士、教授{% else %}<b>Qingyun Duan</b>, Dr., Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}河海大学{% else %}Hohai University{% endif %}</p>
    </div>
  </li> 
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Shaowei Hu">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>胡少伟</b> 博士、教授{% else %}<b>Shaowei Hu</b>, Dr., Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}南京水利科学研究院{% else %}Nanjing Hydraulic Research Institute{% endif %}</p>
    </div>
  </li> 
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Zulin Hua">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>华祖林</b> 博士、教授{% else %}<b>Zulin Hua</b>, Dr., Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}河海大学{% else %}Hohai University{% endif %}</p>
    </div>
  </li> 
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Jiufu Liu">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>刘九夫</b> 教授{% else %}<b>Jiufu Liu</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}南京水利科学研究院{% else %}Nanjing Hydraulic Research Institute{% endif %}</p>
    </div>
  </li> 
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Jin Lin">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>林锦</b> 博士、教授{% else %}<b>Jin Lin</b>, Dr., Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}南京水利科学研究院{% else %}Nanjing Hydraulic Research Institute{% endif %}</p>
    </div>
  </li> 
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Huaizhi Su">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>苏怀智</b> 教授{% else %}<b>Huaizhi Su</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}河海大学{% else %}Hohai University{% endif %}</p>
    </div>
  </li> 
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Weiguang Wang">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>王卫光</b> 博士、教授{% else %}<b>Weiguang Wang</b>, Dr., Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}河海大学{% else %}Hohai University{% endif %}</p>
    </div>
  </li> 
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Guoqing Wang">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>王国庆</b> 博士、教授{% else %}<b>Guoqing Wang</b>, Dr., Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}南京水利科学研究院{% else %}Nanjing Hydraulic Research Institute{% endif %}</p>
    </div>
  </li> 
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Yintang Wang">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>王银堂</b> 教授{% else %}<b>Yintang Wang</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}南京水利科学研究院{% else %}Nanjing Hydraulic Research Institute{% endif %}</p>
    </div>
  </li> 
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Jiechun Wu">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>吴杰春</b> 教授{% else %}<b>Jiechun Wu</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}河海大学{% else %}Hohai University{% endif %}</p>
    </div>
  </li> 
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Junzeng Xu">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>徐俊增</b> 博士、教授{% else %}<b>Junzeng Xu</b>, Dr., Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}河海大学{% else %}Hohai University{% endif %}</p>
    </div>
  </li> 
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Bing Zhang">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>张兵</b> 教授{% else %}<b>Bing Zhang</b>, Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}河海大学{% else %}Hohai University{% endif %}</p>
    </div>
  </li> 
  <li class="media my-2">
    <div class="media-body">
      <h5 class="lead small text-secondary"><i class="fas fa-angle-down fa-fw mr-1"></i>{% if page.lang == "zh" %}以下秘书处成员负责组织协调。{% else %}The following members are for liaison and coordination.{% endif %}</h5>
    </div>
  </li>
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Dawei Guan">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>管大为</b> 博士{% else %}<b>Dawei Guan</b>, Dr.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}河海大学{% else %}Hohai University{% endif %}</p>
    </div>
  </li> 
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Xiaomei Ji">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>季小梅</b> 博士{% else %}<b>Xiaomei Ji</b>, Dr.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}河海大学{% else %}Hohai University{% endif %}</p>
    </div>
  </li> 
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Guangqiu Jin">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>金光球</b> 博士、教授{% else %}<b>Guangqiu Jin</b>, Dr., Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}河海大学{% else %}Hohai University{% endif %}</p>
    </div>
  </li> 
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Jun Kong">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>孔俊</b> 博士、教授{% else %}<b>Jun Kong</b>, Dr., Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}河海大学{% else %}Hohai University{% endif %}</p>
    </div>
  </li> 
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-chlu.jpg" class="people-avatar rounded-circle mr-3" alt="Chunhui Lu">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>鲁春辉</b> 博士、教授{% else %}<b>Chunhui Lu</b>, Dr., Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}长江保护与绿色发展研究院、河海大学{% else %}Yangtze Institute for Conservation and Development & Hohai University{% endif %}</p>
    </div>
  </li> 
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Chengji Shen">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>沈城吉</b> 博士{% else %}<b>Chengji Shen</b>, Dr.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}河海大学{% else %}Hohai University{% endif %}</p>
    </div>
  </li> 
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Aifeng Tao">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>陶爱峰</b> 博士{% else %}<b>Aifeng Tao</b>, Dr.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}河海大学{% else %}Hohai University{% endif %}</p>
    </div>
  </li> 
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Weiguang Wang">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>王卫光</b> 博士、教授{% else %}<b>Weiguang Wang</b>, Dr., Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}河海大学{% else %}Hohai University{% endif %}</p>
    </div>
  </li> 
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Yifan Xie">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>谢一凡</b> 博士{% else %}<b>Yifan Xie</b>, Dr.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}河海大学{% else %}Hohai University{% endif %}</p>
    </div>
  </li> 
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Pei Xin">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>辛沛</b> 博士、教授{% else %}<b>Pei Xin</b>, Dr., Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}河海大学{% else %}Hohai University{% endif %}</p>
    </div>
  </li> 
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Teng Xu">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>徐腾</b> 博士、教授{% else %}<b>Teng Xu</b>, Dr., Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}河海大学{% else %}Hohai University{% endif %}</p>
    </div>
  </li> 
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Jie Yang">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>杨杰</b> 博士、教授{% else %}<b>Jie Yang</b>, Dr., Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}河海大学{% else %}Hohai University{% endif %}</p>
    </div>
  </li> 
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Yu Ye">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>叶逾</b> 博士{% else %}<b>Yu Ye</b>, Dr.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}河海大学{% else %}Hohai University{% endif %}</p>
    </div>
  </li> 
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Saiyu Yuan">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>袁赛瑜</b> 博士{% else %}<b>Saiyu Yuan</b>, Dr.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}河海大学{% else %}Hohai University{% endif %}</p>
    </div>
  </li> 
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Jisheng Zhang">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>张继生</b> 博士、教授{% else %}<b>Jisheng Zhang</b>, Dr., Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}河海大学{% else %}Hohai University{% endif %}</p>
    </div>
  </li> 
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Ke Zhang">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>张珂</b> 博士、教授{% else %}<b>Ke Zhang</b>, Dr., Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}河海大学{% else %}Hohai University{% endif %}</p>
    </div>
  </li> 
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Wei Zhang">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>张蔚</b> 博士、教授{% else %}<b>Wei Zhang</b>, Dr., Prof.{% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}河海大学{% else %}Hohai University{% endif %}</p>
    </div>
  </li> 
  <li class="media my-2">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-ttzhou.jpg" class="people-avatar rounded-circle mr-3" alt="David Zhou">
    <div class="media-body">
      <h5 class="mt-0">{% if page.lang == "zh" %}<b>周天涛</b> {% else %}<b>David Zhou</b>, {% endif %}</h5>
      <p class="text-secondary">{% if page.lang == "zh" %}长江保护与绿色发展研究院、南京水利科学研究院{% else %}Yangtze Institute for Conservation and Development & Nanjing Hydraulic Research Institute{% endif %}</p>
    </div>
  </li> 
  {% endif %}
  <li class="media my-2">
    <div class="media-body">
      <h5 class="lead small text-secondary">{% if page.lang == "zh" %}{% if include.full_list == "yes" %}<i class="fas fa-expand-alt fa-fw mr-1 text-info"></i>此列表可能还将继续更新。{% else %}<i class="fas fa-compress-alt fa-fw mr-1 text-warning"></i>此列表已折叠，完整列表请见<a href="/zh/about/sec">此处</a>。{% endif %}{% else %}{% if include.full_list == "yes" %}<i class="fas fa-expand-alt fa-fw mr-1 text-info"></i>This list may be updated further.{% else %}<i class="fas fa-compress-alt fa-fw mr-1 text-warning"></i>This list has been folded. Please see a full list <a href="/about/sec">here</a>.{% endif %}{% endif %}</h5>
    </div>
  </li>
</ul>