  <!-- Start: .share-buttons -->
  <div class="share-buttons" aria-label="Share buttons">

    <!-- Start: Toggle buttons for sharing -->
    <div class="btn-group {{ include.button_group_class | default: 'w-auto' }}" role="group">
      <a tabindex="0" id="share-toggle-sns" href="#" class="popover-toggles no-action btn {{ include.sns_button_class | default: 'btn-warning' }}" role="button" data-popover-content="#popover-content-sns" data-trigger="focus">
        {% if page.lang == "zh" %}
        <i class="far fa-share-square fa-fw mr-1"></i>分享至
        {% else %}
        <i class="far fa-share-square fa-fw mr-1"></i>Share
        {% endif %}
      </a>
      <a tabindex="0" id="share-toggle-qr" href="#" class="popover-toggles no-action btn {{ include.qr_button_class | default: 'btn-dark' }}" role="button" data-popover-content="#popover-content-qr" data-trigger="focus">
        {% if page.lang == "zh" %}
        <i class="fas fa-qrcode fa-fw mr-1"></i>扫一扫
        {% else %}
        <i class="fas fa-qrcode fa-fw mr-1"></i>Scan
        {% endif %}
      </a>
    </div>
    <!-- End: Toggle buttons for sharing -->

    <!-- Start: Contents of popovers -->
    <div class="d-none">
      <!-- Start: Contents of popovers #popover-content-sns -->
      <div id="popover-content-sns">
        <div class="popover-content">
          <div class="list-group list-group-flush share-buttons">
            <a title="Twitter" class="share-button list-group-item p-2 text-decoration-none" id="twitter" href="https://twitter.com/intent/tweet?url={{ site.baseurl | url_encode }}{{ page.url | url_encode }}&text={{ page.title | url_encode }}%20%7C%20{{ site.name | url_encode }}&hashtags=water,sustainability,Nanjing" target="_blank">
              <i class="fab fa-twitter fa-fw mr-1"></i>Twitter
            </a>
            <a title="Facebook" class="share-button list-group-item p-2 text-decoration-none" id="facebook" href="https://www.facebook.com/sharer.php?u={{ site.baseurl | url_encode }}{{ page.url | url_encode }}" target="_blank">
              <i class="fab fa-facebook-f fa-fw mr-1"></i>Facebook
            </a>
            <a title="Linkedin" class="share-button list-group-item p-2 text-decoration-none" id="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.baseurl | url_encode }}{{ page.url | url_encode }}" target="_blank">
              <i class="fab fa-linkedin-in fa-fw mr-1"></i>LinkedIn
            </a>
            <a title="Sina Weibo" class="share-button list-group-item p-2 text-decoration-none" id="weibo" href="https://service.weibo.com/share/share.php?url={{ site.baseurl | url_encode }}{{ page.url | url_encode }}&title={{ page.title | url_encode }}%20%7C%20{{ site.name | url_encode }}" target="_blank">
              <i class="fab fa-weibo fa-fw mr-1"></i>{% if page.lang == "zh" %}微博{% else %}Weibo{% endif %}
            </a>
            <a title="Email" class="share-button list-group-item p-2 text-decoration-none" id="email-share" href="mailto:?subject={{ page.title | url_encode }}%20%7C%20{{ site.name | url_encode }}&amp;body={{ site.baseurl | url_encode }}{{ page.url | url_encode }}">
              <i class="fas fa-envelope-open-text fa-fw mr-1"></i>{% if page.lang == "zh" %}电子邮件{% else %}Email{% endif %}
            </a>
          </div>
        </div>
      </div>
      <!-- End: Contents of popovers #popover-content-sns -->

      <!-- Start: Contents of popovers #popover-content-qr -->
      <div id="popover-content-qr">
        <div class="popover-content">
          <div id="url-qr-wrap"></div>
        </div>
      </div>
      <!-- End: Contents of popovers #popover-content-qr -->
    </div>
    <!-- End: Contents of popovers -->

  </div>
  <!-- End: .share-buttons -->
