<div class="related-orgs mt-4">
  <h3 class="{{ include.title_style }}">{% if page.lang == "zh" %}主办{% else %}Sponsors{% endif %}</h3>
  <div class="row mx-n1 mb-4">
    <div class="{{ include.logo_size | default: 'col-6 col-md-4 col-lg-3' }} px-1 mt-1">
      <a href="https://www.cae.cn" class="img-ext-link" data-toggle="tooltip" data-placement="top" {% if page.lang == "zh" %}title="中国工程院" {% else %}title="Chinese Academy of Engineering"{% endif %}><img class="img-fluid" src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/re-orgs/cae.jpg"></a>
    </div>
    <div class="{{ include.logo_size | default: 'col-6 col-md-4 col-lg-3' }} px-1 mt-1">
      <a href="http://www.hhu.edu.cn" class="img-ext-link" data-toggle="tooltip" data-placement="top" {% if page.lang == "zh" %}title="河海大学" {% else %}title="Hohai University"{% endif %}><img class="img-fluid" src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/re-orgs/hhu.jpg"></a>
    </div>
    <div class="{{ include.logo_size | default: 'col-6 col-md-4 col-lg-3' }} px-1 mt-1">
      <a href="http://www.nhri.cn" class="img-ext-link" data-toggle="tooltip" data-placement="top" {% if page.lang == "zh" %}title="南京水利科学研究院" {% else %}title="Nanjing Hydraulic Research Institute"{% endif %}><img class="img-fluid" src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/re-orgs/nhri.jpg"></a>
    </div>
    <div class="{{ include.logo_size | default: 'col-6 col-md-4 col-lg-3' }} px-1 mt-1">
      <a href="http://www.ches.org.cn/" class="img-ext-link" data-toggle="tooltip" data-placement="top" {% if page.lang == "zh" %}title="中国水利学会" {% else %}title="Chinese Hydraulic Engineering Society"{% endif %}><img class="img-fluid" src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/re-orgs/ches.jpg"></a>
    </div>
  </div>
  <h3 class="{{ include.title_style }}">{% if page.lang == "zh" %}承办{% else %}Co-hosts{% endif %}</h3>
  <div class="row mx-n1 mb-4">
    <div class="{{ include.logo_size | default: 'col-6 col-md-4 col-lg-3' }} px-1 mt-1">
      <a href="https://www.yicode.ac" class="img-ext-link" data-toggle="tooltip" data-placement="top" {% if page.lang == "zh" %}title="长江保护与绿色发展研究院" {% else %}title="Yangtze Institute for Conservation and Development"{% endif %}><img class="img-fluid" src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/re-orgs/yicode.jpg"></a>
    </div>
    <div class="{{ include.logo_size | default: 'col-6 col-md-4 col-lg-3' }} px-1 mt-1">
      <a href="https://www.cae.cn" class="img-ext-link" data-toggle="tooltip" data-placement="top" {% if page.lang == "zh" %}title="中国工程院土木水利与建筑学部" {% else %}title="CAE Division of Civil, Hydraulic and Architectural Engineering"{% endif %}><img class="img-fluid" src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/re-orgs/ad3cae.jpg"></a>
    </div>
    <div class="{{ include.logo_size | default: 'col-6 col-md-4 col-lg-3' }} px-1 mt-1">
      <a href="http://hydro-lab.hhu.edu.cn" class="img-ext-link" data-toggle="tooltip" data-placement="top" {% if page.lang == "zh" %}title="水文水资源与水工程科学国家重点实验室" {% else %}title="State Key Laboratory of Hydrology-Water Resources and Hydraulic Engineering"{% endif %}><img class="img-fluid" src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/re-orgs/skl.jpg"></a>
    </div>
    <div class="{{ include.logo_size | default: 'col-6 col-md-4 col-lg-3' }} px-1 mt-1">
      <a href="http://jrc.nhri.cn" class="img-ext-link" data-toggle="tooltip" data-placement="top" {% if page.lang == "zh" %}title="水科学与水工程国际联合研究中心" {% else %}title="JRC Water Science and Engineering"{% endif %}><img class="img-fluid" src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/re-orgs/jrc.jpg"></a>
    </div>
    <div class="{{ include.logo_size | default: 'col-6 col-md-4 col-lg-3' }} px-1 mt-1">
      <a href="http://rccc.nhri.cn" class="img-ext-link" data-toggle="tooltip" data-placement="top" {% if page.lang == "zh" %}title="水利部应对气候变化研究中心" {% else %}title="MWR Research Center for Climate Change"{% endif %}><img class="img-fluid" src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/re-orgs/rccc.jpg"></a>
    </div>
  </div>
  <h3 class="{{ include.title_style }}">{% if page.lang == "zh" %}协办{% else %}Partners{% endif %}</h3>
  <div class="row mx-n1">
    <div class="{{ include.logo_size | default: 'col-6 col-md-4 col-lg-3' }} px-1 mt-1">
      <a href="https://www.ctg.com.cn/" class="img-ext-link" data-toggle="tooltip" data-placement="top" {% if page.lang == "zh" %}title="中国长江三峡集团" {% else %}title="China Three Gorges Corporation"{% endif %}><img class="img-fluid" src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/re-orgs/ctgc.jpg"></a>
    </div>
    <div class="{{ include.logo_size | default: 'col-6 col-md-4 col-lg-3' }} px-1 mt-1">
      <a href="http://www.cemlab.cn/" class="img-ext-link" data-toggle="tooltip" data-placement="top" {% if page.lang == "zh" %}title="高性能土木工程材料国家重点实验室" {% else %}title="State Key Lab of High-Performance Civil Engineering Materials"{% endif %}><img class="img-fluid" src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/re-orgs/hpcem.jpg"></a>
    </div>
    <div class="{{ include.logo_size | default: 'col-6 col-md-4 col-lg-3' }} px-1 mt-1">
      <a href="https://en.unesco.org/themes/water-security/hydrology" class="img-ext-link" data-toggle="tooltip" data-placement="top" {% if page.lang == "zh" %}title="UNESCO国际水文计划" {% else %}title="UNESCO-IHP"{% endif %}><img class="img-fluid" src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/re-orgs/unesco-ihp.jpg"></a>
    </div>
    <div class="{{ include.logo_size | default: 'col-6 col-md-4 col-lg-3' }} px-1 mt-1">
      <a href="https://iahs.info/" class="img-ext-link" data-toggle="tooltip" data-placement="top" {% if page.lang == "zh" %}title="国际水文科学协会" {% else %}title="International Association of Hydrological Sciences"{% endif %}><img class="img-fluid" src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/re-orgs/iahs.jpg"></a>
    </div>
    <div class="{{ include.logo_size | default: 'col-6 col-md-4 col-lg-3' }} px-1 mt-1">
      <a href="http://www.nhri.cn/col/col67/index.html" class="img-ext-link" data-toggle="tooltip" data-placement="top" {% if page.lang == "zh" %}title="水利部水科学与水工程重点实验室" {% else %}title="Key Lab of Water Science and Hydraulic Engineering of MWR"{% endif %}><img class="img-fluid" src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/re-orgs/mwrkl-water.jpg"></a>
    </div>
    <div class="{{ include.logo_size | default: 'col-6 col-md-4 col-lg-3' }} px-1 mt-1">
      <a href="http://dam-lab.nhri.cn/" class="img-ext-link" data-toggle="tooltip" data-placement="top" {% if page.lang == "zh" %}title="水利部土石坝破坏机理与防控技术重点实验室" {% else %}title="Key Lab of Failure Mechanism and Safety Control Techniques of Earth-rock Dam of MWR"{% endif %}><img class="img-fluid" src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/re-orgs/mwrkl-dam.jpg"></a>
    </div>
    <div class="{{ include.logo_size | default: 'col-6 col-md-4 col-lg-3' }} px-1 mt-1">
      <a href="http://hydro-lab.hhu.edu.cn/showjs.asp?js_id=52" class="img-ext-link" data-toggle="tooltip" data-placement="top" {% if page.lang == "zh" %}title="教育部全球变化与水循环国际联合实验室" {% else %}title="International Joint Lab of Global Changes and Water Circle, Ministry of Education"{% endif %}><img class="img-fluid" src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/re-orgs/moejl-gcw.jpg"></a>
    </div>
  </div>
</div>
