---
layout: page
title: "About the Forum"
lang: en
ref: about-page
last_update: 2020-03-12
---

<div class="list-group list-group-flush">
  <div class="list-group-item px-0">
    <h2 id="background">Background</h2>
    {% include about-background.html %}
    <h3 id="estds-forums">ESTDS Forums</h3>
    <p>The Water Security and Sustainability Forum is one of the International Top-level Forums on Engineering Science and Technology Development Strategy (ESTDS) sponsored by the Chinese Academy of Engineering. The ESTDS Forums of the Chinese Academy of Engineering could date back to 2011 when the Academy started to vision the future development of engineering science in the upcoming 20 years and even further through strategic discussions and studies. ESTDS Forums are best-known for their inter-disciplinary and international ways of thinking. They try to break disciplinary boundaries for synergy in innovation and bridge the physical distances between world's leading experts for international cooperation. ESTDS Forums focus on themes that are macro-scale, strategically significant, and forward-looking.</p>
  </div>
  <div class="list-group-item px-0">
    <h2 id="theme-topics">Theme &amp; topics</h2>
    <h3 id="theme">Theme</h3>
    <ul>
      <li>Water security and sustainability</li>
    </ul>
    <h3 id="topics">Topics</h3>
    {% include about-topics.html %}
  </div>
  <div class="list-group-item px-0">
    <h2 id="partnerships">Partnerships</h2>
    {% include sponsors.html %}
  </div>
  <div class="list-group-item px-0">
    <h2 id="orgnisation">Orgnisation</h2>
    <h3 id="advisory-committee">Advisory Committee</h3>
    {% include adc.html %}
    <h3 id="academic-committee">Academic Committee</h3>
    {% include ac.html %}
    <h3 id="organising-committee">Organising Committee</h3>
    {% include oc.html %}
    <h3 id="secretariat">Secretariat</h3>
    {% include sec.html %}
  </div>
  <div class="list-group-item px-0">
    <h2 id="venue">Time &amp; Venue</h2>
    <p>The forum will be held in its permanent home, Nanjing in east China, where the ancient Qinhuai River of romance meets the mighty Yangtze.</p>
    <p>Due to the COVID-19 epidemic, the Forum has been postponed to {{ site.cfrc_start | date: '%d' }} to {{ site.cfrc_end | date_to_string }}.</p>
    <p>More details of the venue will be released very soon.</p>
  </div>
  <div class="list-group-item px-0">
    <h2 id="contacts">Contacts</h2>
    {% include contacts.html %}
  </div>
</div>
