.full-page-intro {
	height: 100vh;
}

.bg-by-attr {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.page-ribbon {
	height: 80vh;
}

.ribboned-page > .container {
	margin-top: -55vh;
	min-height: 80vh;
}

/* share button styles */
.share-buttons .share-button:hover {
	color: #ffffff;
}
.share-buttons #facebook:hover {
	background-color: #002e63;
}
.share-buttons #twitter:hover {
	background-color: #2aaae0;
}
.share-buttons #weibo:hover {
	background-color: #d52827;
}
.share-buttons #linkedin:hover {
	background-color: #007ab9;
}
.share-buttons #email-share:hover {
	background-color: #697c37;
}

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.3); }

.top-nav-collapse {
  background-color: #1C2331; }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; } }
    
@media print {
	.ribboned-page > .container {
		margin-top: 1rem;
	}
}
