.popover {
	border-radius: 0.125rem;
}

/** animate the navbar toggle **/
.icon-bar {
	width: 22px; 
	height: 2px;
	background-color: #B6B6B6;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}
 
.navbar-toggler {
	border: none;
	background: transparent!important;
	outline: none!important;
}

.navbar-toggler .top-bar {
	transform: rotate(45deg);
	transform-origin: 10% 10%;
}
 
.navbar-toggler .middle-bar {
	opacity: 0;
}
 
.navbar-toggler .bottom-bar {
	transform: rotate(-45deg);
	transform-origin: 10% 90%;
}
 
.navbar-toggler.collapsed .top-bar {
	transform: rotate(0);
}
 
.navbar-toggler.collapsed .middle-bar {
	opacity: 1;
}
 
.navbar-toggler.collapsed .bottom-bar {
	transform: rotate(0);
}

.full-page-intro {
	height: 100vh;
}

.bg-by-attr {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.page-ribbon {
	height: 80vh;
}

.ribboned-page > .container {
	margin-top: -50vh;
	min-height: 80vh;
}

main .content h2 {
	padding-top: 48px;
}

.toc-card {
  max-width: 100%;
  top: 60px;
}

.toc-card .toc-header-text:not(.collapsed) {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.toc-card .list-group .list-group-item {
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}

#to-top {
	bottom: 1rem;
	right: 1rem;
}

/* share button styles */
.share-buttons .share-button:hover {
	color: #ffffff;
}
.share-buttons #facebook:hover {
	background-color: #002e63;
}
.share-buttons #twitter:hover {
	background-color: #2aaae0;
}
.share-buttons #weibo:hover {
	background-color: #d52827;
}
.share-buttons #linkedin:hover {
	background-color: #007ab9;
}
.share-buttons #email-share:hover {
	background-color: #697c37;
}

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.3); }

.top-nav-collapse {
  background-color: #1C2331; }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    	background-color: #1C2331; 
    }
}

@media only screen and (max-width: 575px) {
  .full-page-intro .display-4 {
    	font-size: 2.5em
    }
}

@media only screen and (min-width: 576px) {
  .toc-card {
    max-width: 20rem;
  }

  .toc-card .list-group.show {
    min-width: 12rem;
  }
}
    
@media print {
	.ribboned-page > .container {
		margin-top: 1rem;
		-webkit-box-shadow: none!important;
		box-shadow: none!important;
	}
}
