---
layout: default
title: Blog
nav_group: navbar
nav_order: 5
---
<main class="ribboned-page post">
  <div class="page-ribbon bg-info bg-by-attr d-print-none" data-image="https://cdn.jsdelivr.net/gh/estds/zhang-team/assets/img/needleleaf-forest.jpg">
  </div>
  <div class="container bg-white mb-5 z-depth-1">
    {% include breadcrumb.html wrap_class="row teal lighten-5 py-3" list_class="bg-transparent mb-0 small px-md-5" %}
    <div class="row">
      <div class="col-12 my-5 px-md-5">
        <div aria-label="content">
          <div class="list-group list-group-flush blog-entry-list">
            {% for post in site.posts %}
            <article class="post list-group-item px-0">
              <h2><a class="text-decoration-none" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
              <p>{{ post.abstract }} <a href="{{ post.url }}" title="{{ post.title }}" class="badge badge-primary">Read on<i class="far fa-arrow-alt-circle-right ml-1"></i></a></p>
              <p class="text-secondary meta small">{{ post.date | date_to_string }}</p>
            </article>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

