---
layout: default
---
<main class="ribboned-page">
  <div class="page-ribbon bg-primary bg-by-attr" data-image="{% if page.fimage %}https://cdn.jsdelivr.net/gh/estds/zhang-team{{ page.fimage }}{% else %}https://cdn.jsdelivr.net/gh/estds/zhang-team/assets/img/mountain-stream.jpg{% endif %}">
  </div>
  <div class="container bg-white mb-5 z-depth-1">
    <div class="row teal lighten-5">
      <div class="col-12">{% include breadcrumb.html %}</div>
      <div class="col-12">
        <div aria-label="content">
          <h1>{{ page.title }}</h1>
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</main>

