---
layout: default
---
<main class="ribboned-page post">
  <div class="page-ribbon bg-primary bg-by-attr d-print-none" data-image="{% if page.fimage and page.fimage_credit %}https://cdn.jsdelivr.net/gh/estds/zhang-team{{ page.fimage }}{% else %}https://cdn.jsdelivr.net/gh/estds/zhang-team/assets/img/boat-on-water.jpg{% endif %}">
  </div>
  <div class="container bg-white mb-5 z-depth-1">
    {% include breadcrumb.html wrap_class="row teal lighten-5 py-3" list_class="bg-transparent mb-0 small px-md-5" %}
    <div class="row">
      <div class="col-12 my-5 px-md-5">
        <div aria-label="content">
          <h1 class="mb-4">{{ page.title }}</h1>
          {{ content }}
          <ul class="list-unstyled my-3 small text-light">
            <li>Published: <time datetime="{{ include.time | date_to_xmlschema }}">{{ page.date | date_to_string }}</time></li>
            {% if page.fimage and page.fimage_credit %}<li>Feature image: {{ page.fimage_credit }}</li>{% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>